@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css2?family=Handlee&display=swap);

@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-Poppins: Poppins;
  --font-SchoolBell: "Handlee", serif;
}

body {
  cursor: default;
  font-family: Poppins, sans-serif;
  margin: 0;
  overflow: hidden;
  /* For full screen app feel */
  transition: background-color 0.3s, color 0.3s;
}

:root {
  color-scheme: light;
}

:root.dark {
  color-scheme: dark;
}

.custom-cursor-area {
  cursor: none;
}